In [1]:
#Import Pandas#Import P 
import pandas as pd
import numpy as py
#Clean up existing files and database if code is being executed multiple times
!del ids.sqlite 
!del ids_clean.csv
!del poverty_data_clean.csv

C:\Users\anuj\Project2\ids.sqlite

The process cannot access the file because it is being used by another process.

In [2]:
#### Step 2 DATABASE ENGINEERING ####
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
engine = create_engine("sqlite:///ids.sqlite")

In [4]:
conn = engine.connect()

In [5]:
#Create a class for the country master table
class CountryMaster(Base):
    __tablename__ = 'country_master'
    country_id = Column(Integer, primary_key = True)
    country_code= Column(String)
    country_name = Column(String)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [6]:
#Create a class for the country master table
class CountryMaster1(Base):
    __tablename__ = 'country_master1'
    country_id = Column(Integer, primary_key = True)
    country_code= Column(String)
    country_long_name = Column(String)
    currency_unit = Column(String)
    income_group = Column(String)
    region = Column(String)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [7]:
#Create a class for the indicator master table
class IndicatorMaster(Base):
    __tablename__ = 'indicator_master'
    indicator_id = Column(Integer, primary_key = True)
    indicator_code= Column(String)
    indicator_name = Column(String)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [8]:
#Create a class for the indicator master table
class IDSData(Base):
    __tablename__ = 'ids_data'
    ids_data_id = Column(Integer, primary_key = True)
    Country_Code = Column(String)
    Indicator_Code = Column(String)
    yr_1970 = Column(Float(12,2))
    yr_1971 = Column(Float(12,2))
    yr_1972= Column(Float(12,2))
    yr_1973= Column(Float(12,2))
    yr_1974= Column(Float(12,2))
    yr_1975= Column(Float(12,2))
    yr_1976= Column(Float(12,2))
    yr_1977= Column(Float(12,2))
    yr_1978= Column(Float(12,2))
    yr_1979= Column(Float(12,2))
    yr_1980= Column(Float(12,2))
    yr_1981= Column(Float(12,2))
    yr_1982= Column(Float(12,2))
    yr_1983= Column(Float(12,2))
    yr_1984= Column(Float(12,2))
    yr_1985= Column(Float(12,2))
    yr_1986= Column(Float(12,2))
    yr_1987= Column(Float(12,2))
    yr_1988= Column(Float(12,2))
    yr_1989= Column(Float(12,2))
    yr_1990= Column(Float(12,2))
    yr_1991= Column(Float(12,2))
    yr_1992= Column(Float(12,2))
    yr_1993= Column(Float(12,2))
    yr_1994= Column(Float(12,2))
    yr_1995= Column(Float(12,2))
    yr_1996= Column(Float(12,2))
    yr_1997= Column(Float(12,2))
    yr_1998= Column(Float(12,2))
    yr_1999= Column(Float(12,2))
    yr_2000= Column(Float(12,2))
    yr_2001= Column(Float(12,2))
    yr_2002= Column(Float(12,2))
    yr_2003= Column(Float(12,2))
    yr_2004= Column(Float(12,2))
    yr_2005= Column(Float(12,2))
    yr_2006= Column(Float(12,2))
    yr_2007= Column(Float(12,2))
    yr_2008= Column(Float(12,2))
    yr_2009= Column(Float(12,2))
    yr_2010= Column(Float(12,2))
    yr_2011= Column(Float(12,2))
    yr_2012= Column(Float(12,2))
    yr_2013= Column(Float(12,2))
    yr_2014= Column(Float(12,2))
    yr_2015= Column(Float(12,2))
    yr_2016= Column(Float(12,2))
    yr_2017= Column(Float(12,2))
    yr_2018= Column(Float(12,2))
    yr_2019= Column(Float(12,2))
    yr_2020= Column(Float(12,2))
    yr_2021 = Column(Float(12,2))
    yr_2022= Column(Float(12,2))
    yr_2023= Column(Float(12,2))
    yr_2024= Column(Float(12,2))
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [9]:
#Create a class for the poverty master table
class PovertyData(Base):
    __tablename__ = 'poverty_data'
    poverty_data_id = Column(Integer, primary_key = True)
    Country_Code = Column(String)
    Indicator_Code = Column(String)
    yr_1974= Column(Float(12,2))
    yr_1975= Column(Float(12,2))
    yr_1976= Column(Float(12,2))
    yr_1977= Column(Float(12,2))
    yr_1978= Column(Float(12,2))
    yr_1979= Column(Float(12,2))
    yr_1980= Column(Float(12,2))
    yr_1981= Column(Float(12,2))
    yr_1982= Column(Float(12,2))
    yr_1983= Column(Float(12,2))
    yr_1984= Column(Float(12,2))
    yr_1985= Column(Float(12,2))
    yr_1986= Column(Float(12,2))
    yr_1987= Column(Float(12,2))
    yr_1988= Column(Float(12,2))
    yr_1989= Column(Float(12,2))
    yr_1990= Column(Float(12,2))
    yr_1991= Column(Float(12,2))
    yr_1992= Column(Float(12,2))
    yr_1993= Column(Float(12,2))
    yr_1994= Column(Float(12,2))
    yr_1995= Column(Float(12,2))
    yr_1996= Column(Float(12,2))
    yr_1997= Column(Float(12,2))
    yr_1998= Column(Float(12,2))
    yr_1999= Column(Float(12,2))
    yr_2000= Column(Float(12,2))
    yr_2001= Column(Float(12,2))
    yr_2002= Column(Float(12,2))
    yr_2003= Column(Float(12,2))
    yr_2004= Column(Float(12,2))
    yr_2005= Column(Float(12,2))
    yr_2006= Column(Float(12,2))
    yr_2007= Column(Float(12,2))
    yr_2008= Column(Float(12,2))
    yr_2009= Column(Float(12,2))
    yr_2010= Column(Float(12,2))
    yr_2011= Column(Float(12,2))
    yr_2012= Column(Float(12,2))
    yr_2013= Column(Float(12,2))
    yr_2014= Column(Float(12,2))
    yr_2015= Column(Float(12,2))
    yr_2016= Column(Float(12,2))
    yr_2017= Column(Float(12,2))
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [10]:
Base.metadata.create_all(engine)

In [11]:
#IDS country data file
country_file = "country.csv"
country_df = pd.read_csv(country_file)
country_df.head(5)
country_data = country_df.to_dict(orient='records')
print(country_data[:5])

[{'country_code': 'AFG', 'country_name': 'Afghanistan'}, {'country_code': 'AGO', 'country_name': 'Angola'}, {'country_code': 'ALB', 'country_name': 'Albania'}, {'country_code': 'ARG', 'country_name': 'Argentina'}, {'country_code': 'ARM', 'country_name': 'Armenia'}]

In [12]:
#IDS Indicators data file
indicator_file = "indicator.csv"
indicator_df = pd.read_csv(indicator_file)
indicator_df.head(5)
indicator_data = indicator_df.to_dict(orient='records')
print(indicator_data[:5])

[{'indicator_code': 'DT.GPA.DPPG', 'indicator_name': 'Average grace period on new external debt commitments (years)'}, {'indicator_code': 'DT.GPA.OFFT', 'indicator_name': 'Average grace period on new external debt commitments official (years)'}, {'indicator_code': 'DT.GPA.PRVT', 'indicator_name': 'Average grace period on new external debt commitments private (years)'}, {'indicator_code': 'DT.GRE.DPPG', 'indicator_name': 'Average grant element on new external debt commitments (%)'}, {'indicator_code': 'DT.GRE.OFFT', 'indicator_name': 'Average grant element on new external debt commitments official (%)'}]

In [13]:
#IDS main data file
file = "IDSData.csv"
ids_data_df = pd.read_csv(file)
ids_data_df.fillna(value=0, inplace=True)
ids_data_df.head(2) 
ids_data_df.drop([ids_data_df.columns[0]], axis=1, inplace=True)
ids_data_df.drop([ids_data_df.columns[1]], axis=1, inplace=True)
ids_data_df.drop([ids_data_df.columns[57]], axis=1, inplace=True)
#ids_data_df.drop([ids_data_df.columns['Indicator Name']], axis=1, inplace=True)

ids_data_df.to_csv('ids_clean.csv', index = False)
ids_data_df.head()

clean_file = "ids_clean.csv"
ids_clean_data_df = pd.read_csv(clean_file)

ids_clean_data_df.head(5)
clean_data = ids_clean_data_df.to_dict(orient='records')
print(clean_data[:5])

[{'Country_Code': 'AFG', 'Indicator_Code': 'DT.GPA.DPPG', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 10.25, 'yr_2007': 8.0833, 'yr_2008': 9.9575, 'yr_2009': 0.0, 'yr_2010': 7.8333, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 29.8333, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}, {'Country_Code': 'AFG', 'Indicator_Code': 'DT.GPA.OFFT', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 10.25, 'yr_2007': 8.0833, 'yr_2008': 9.9575, 'yr_2009': 0.0, 'yr_2010': 7.8333, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 29.8333, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}, {'Country_Code': 'AFG', 'Indicator_Code': 'DT.GPA.PRVT', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 0.0, 'yr_2007': 0.0, 'yr_2008': 0.0, 'yr_2009': 0.0, 'yr_2010': 0.0, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 0.0, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}, {'Country_Code': 'AFG', 'Indicator_Code': 'DT.GRE.DPPG', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 76.1157, 'yr_2007': 69.8357, 'yr_2008': 80.5234, 'yr_2009': 0.0, 'yr_2010': 53.1957, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 96.378, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}, {'Country_Code': 'AFG', 'Indicator_Code': 'DT.GRE.OFFT', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 76.1157, 'yr_2007': 69.8357, 'yr_2008': 80.5234, 'yr_2009': 0.0, 'yr_2010': 53.1957, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 96.378, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}]

In [14]:
#Poverty data File
file = "PovertyData.csv"
poverty_data_df = pd.read_csv(file)
poverty_data_df.fillna(value=-1, inplace=True)
poverty_data_df.head(2) 
poverty_data_df.drop([poverty_data_df.columns[0]], axis=1, inplace=True)
poverty_data_df.drop([poverty_data_df.columns[1]], axis=1, inplace=True)

poverty_data_df.to_csv('poverty_data_clean.csv', index = False)
poverty_data_df.head()

poverty_clean_file = "poverty_data_clean.csv"
poverty_clean_data_df = pd.read_csv(poverty_clean_file)

poverty_clean_data_df.head(5)
poverty_clean_data = poverty_clean_data_df.to_dict(orient='records')
print(poverty_clean_data[:5])

[{'Country_Code': 'EAP', 'Indicator_Code': 'SI.POV.UMIC.NO', 'yr_1974': -1.0, 'yr_1975': -1.0, 'yr_1976': -1.0, 'yr_1977': -1.0, 'yr_1978': -1.0, 'yr_1979': -1.0, 'yr_1980': -1.0, 'yr_1981': 1340.7, 'yr_1982': -1.0, 'yr_1983': -1.0, 'yr_1984': 1403.3, 'yr_1985': -1.0, 'yr_1986': -1.0, 'yr_1987': 1465.6, 'yr_1988': -1.0, 'yr_1989': -1.0, 'yr_1990': 1525.4, 'yr_1991': -1.0, 'yr_1992': -1.0, 'yr_1993': 1557.7, 'yr_1994': -1.0, 'yr_1995': -1.0, 'yr_1996': 1550.2, 'yr_1997': -1.0, 'yr_1998': -1.0, 'yr_1999': 1562.2, 'yr_2000': -1.0, 'yr_2001': -1.0, 'yr_2002': 1476.0, 'yr_2003': -1.0, 'yr_2004': -1.0, 'yr_2005': 1357.5, 'yr_2006': -1.0, 'yr_2007': -1.0, 'yr_2008': 1230.2, 'yr_2009': -1.0, 'yr_2010': 1101.8, 'yr_2011': 1036.0, 'yr_2012': 969.7, 'yr_2013': 853.0, 'yr_2014': -1.0, 'yr_2015': -1.0, 'yr_2016': -1.0, 'yr_2017': -1.0}, {'Country_Code': 'ECA', 'Indicator_Code': 'SI.POV.UMIC.NO', 'yr_1974': -1.0, 'yr_1975': -1.0, 'yr_1976': -1.0, 'yr_1977': -1.0, 'yr_1978': -1.0, 'yr_1979': -1.0, 'yr_1980': -1.0, 'yr_1981': -1.0, 'yr_1982': -1.0, 'yr_1983': -1.0, 'yr_1984': -1.0, 'yr_1985': -1.0, 'yr_1986': -1.0, 'yr_1987': 105.9, 'yr_1988': -1.0, 'yr_1989': -1.0, 'yr_1990': 117.3, 'yr_1991': -1.0, 'yr_1992': -1.0, 'yr_1993': 168.5, 'yr_1994': -1.0, 'yr_1995': -1.0, 'yr_1996': 194.1, 'yr_1997': -1.0, 'yr_1998': -1.0, 'yr_1999': 209.7, 'yr_2000': -1.0, 'yr_2001': -1.0, 'yr_2002': 161.8, 'yr_2003': -1.0, 'yr_2004': -1.0, 'yr_2005': 124.5, 'yr_2006': -1.0, 'yr_2007': -1.0, 'yr_2008': 81.0, 'yr_2009': -1.0, 'yr_2010': 78.1, 'yr_2011': 73.7, 'yr_2012': 72.0, 'yr_2013': 67.8, 'yr_2014': -1.0, 'yr_2015': -1.0, 'yr_2016': -1.0, 'yr_2017': -1.0}, {'Country_Code': 'LAC', 'Indicator_Code': 'SI.POV.UMIC.NO', 'yr_1974': -1.0, 'yr_1975': -1.0, 'yr_1976': -1.0, 'yr_1977': -1.0, 'yr_1978': -1.0, 'yr_1979': -1.0, 'yr_1980': -1.0, 'yr_1981': 166.5, 'yr_1982': -1.0, 'yr_1983': -1.0, 'yr_1984': 195.4, 'yr_1985': -1.0, 'yr_1986': -1.0, 'yr_1987': 188.8, 'yr_1988': -1.0, 'yr_1989': -1.0, 'yr_1990': 213.6, 'yr_1991': -1.0, 'yr_1992': -1.0, 'yr_1993': 221.9, 'yr_1994': -1.0, 'yr_1995': -1.0, 'yr_1996': 234.5, 'yr_1997': -1.0, 'yr_1998': -1.0, 'yr_1999': 239.3, 'yr_2000': -1.0, 'yr_2001': -1.0, 'yr_2002': 239.6, 'yr_2003': -1.0, 'yr_2004': -1.0, 'yr_2005': 225.7, 'yr_2006': -1.0, 'yr_2007': -1.0, 'yr_2008': 191.3, 'yr_2009': -1.0, 'yr_2010': 182.0, 'yr_2011': 175.7, 'yr_2012': 167.2, 'yr_2013': 165.8, 'yr_2014': -1.0, 'yr_2015': -1.0, 'yr_2016': -1.0, 'yr_2017': -1.0}, {'Country_Code': 'LMY', 'Indicator_Code': 'SI.POV.UMIC.NO', 'yr_1974': -1.0, 'yr_1975': -1.0, 'yr_1976': -1.0, 'yr_1977': -1.0, 'yr_1978': -1.0, 'yr_1979': -1.0, 'yr_1980': -1.0, 'yr_1981': 2967.6, 'yr_1982': -1.0, 'yr_1983': -1.0, 'yr_1984': 3143.1, 'yr_1985': -1.0, 'yr_1986': -1.0, 'yr_1987': 3307.9, 'yr_1988': -1.0, 'yr_1989': -1.0, 'yr_1990': 3512.5, 'yr_1991': -1.0, 'yr_1992': -1.0, 'yr_1993': 3729.5, 'yr_1994': -1.0, 'yr_1995': -1.0, 'yr_1996': 3855.1, 'yr_1997': -1.0, 'yr_1998': -1.0, 'yr_1999': 4009.7, 'yr_2000': -1.0, 'yr_2001': -1.0, 'yr_2002': 3990.5, 'yr_2003': -1.0, 'yr_2004': -1.0, 'yr_2005': 3911.4, 'yr_2006': -1.0, 'yr_2007': -1.0, 'yr_2008': 3799.8, 'yr_2009': -1.0, 'yr_2010': 3712.2, 'yr_2011': 3639.3, 'yr_2012': 3573.8, 'yr_2013': 3457.9, 'yr_2014': -1.0, 'yr_2015': -1.0, 'yr_2016': -1.0, 'yr_2017': -1.0}, {'Country_Code': 'LIC', 'Indicator_Code': 'SI.POV.UMIC.NO', 'yr_1974': -1.0, 'yr_1975': -1.0, 'yr_1976': -1.0, 'yr_1977': -1.0, 'yr_1978': -1.0, 'yr_1979': -1.0, 'yr_1980': -1.0, 'yr_1981': 237.7, 'yr_1982': -1.0, 'yr_1983': -1.0, 'yr_1984': 257.2, 'yr_1985': -1.0, 'yr_1986': -1.0, 'yr_1987': 277.7, 'yr_1988': -1.0, 'yr_1989': -1.0, 'yr_1990': 304.8, 'yr_1991': -1.0, 'yr_1992': -1.0, 'yr_1993': 335.3, 'yr_1994': -1.0, 'yr_1995': -1.0, 'yr_1996': 361.8, 'yr_1997': -1.0, 'yr_1998': -1.0, 'yr_1999': 392.2, 'yr_2000': -1.0, 'yr_2001': -1.0, 'yr_2002': 425.3, 'yr_2003': -1.0, 'yr_2004': -1.0, 'yr_2005': 460.1, 'yr_2006': -1.0, 'yr_2007': -1.0, 'yr_2008': 495.3, 'yr_2009': -1.0, 'yr_2010': 518.6, 'yr_2011': 530.0, 'yr_2012': 535.3, 'yr_2013': 546.1, 'yr_2014': -1.0, 'yr_2015': -1.0, 'yr_2016': -1.0, 'yr_2017': -1.0}]

In [15]:
#Country Master1 data file
country_master1_file = "country_master1.csv"
country_master1_df = pd.read_csv(country_master1_file)
country_master1_df.head(5)
country_master1_data = country_master1_df.to_dict(orient='records')
print(country_master1_data[:5])

[{'country_code': 'AFG', 'country_long_name': 'Islamic-State-of-Afghanistan', 'currency_unit': 'Afghan-afghani', 'income_group': 'Low-income', 'region': 'South-Asia'}, {'country_code': 'AGO', 'country_long_name': 'Peoples-Republic-of-Angola', 'currency_unit': 'Angolan-kwanza', 'income_group': 'Lower-middle-income', 'region': 'Sub-Saharan-Africa'}, {'country_code': 'ALB', 'country_long_name': 'Republic-of-Albania', 'currency_unit': 'Albanian-lek', 'income_group': 'Upper-middle-income', 'region': 'Europe-&-Central-Asia'}, {'country_code': 'ARG', 'country_long_name': 'Argentine-Republic', 'currency_unit': 'Argentine-peso', 'income_group': 'Upper-middle-income', 'region': 'Latin-America-&-Caribbean'}, {'country_code': 'ARM', 'country_long_name': 'Republic-of-Armenia', 'currency_unit': 'Armenian-dram', 'income_group': 'Lower-middle-income', 'region': 'Europe-&-Central-Asia'}]

In [16]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [17]:
# Save the reference to the `country master` table as a variable called `cm`
cm = sqlalchemy.Table('country_master', metadata, autoload=True)

In [18]:
# Save the reference to the `indicator master` table as a variable called `im`
im = sqlalchemy.Table('indicator_master', metadata, autoload=True)

In [19]:
# Save the reference to the `cleaned data` table as a variable called `cd`
cd = sqlalchemy.Table('ids_data', metadata, autoload=True)

In [20]:
# Save the reference to the `cleaned poverty data` table as a variable called `pd`
pd = sqlalchemy.Table('poverty_data', metadata, autoload=True)

In [21]:
# Save the reference to the `country_master1` table as a variable called `cm1`
cm1 = sqlalchemy.Table('country_master1', metadata, autoload=True)

In [22]:
# Use `cm.delete()` to remove any pre-existing data, from country table
conn.execute(cm.delete())

In [23]:
# Use `im.delete()` to remove any pre-existing data, from indicator table
conn.execute(im.delete())

In [24]:
# Use `cd.delete()` to remove any pre-existing data, from IDS data table
conn.execute(cd.delete())

In [25]:
# Use `pd.delete()` to remove any pre-existing data, from IDS data table
conn.execute(pd.delete())

In [26]:
# Use `cm1.delete()` to remove any pre-existing data, from IDS data table
conn.execute(cm1.delete())

In [27]:
# Use `cm.insert()` to insert the data into the country table
# The SQL table is populated during this step
conn.execute(cm.insert(), country_data)

In [28]:
# Use `cm.insert()` to insert the data into the country table
# The SQL table is populated during this step
conn.execute(im.insert(), indicator_data)

In [29]:
# Use `cd.insert()` to insert the data into the ids_data table
# The SQL table is populated during this step
conn.execute(cd.insert(), clean_data)

In [30]:
# Use `pd.insert()` to insert the data into the poverty_data table
# The SQL table is populated during this step
conn.execute(pd.insert(), poverty_clean_data)

In [31]:
# Use `cm1.insert()` to insert the data into the country_master1 table
# The SQL table is populated during this step
conn.execute(cm1.insert(), country_master1_data)

In [32]:
# Test that the insert works by fetching the first 5 rows from country_master table. 
conn.execute("select * from country_master limit 5").fetchall()

[(1, 'AFG', 'Afghanistan'),
 (2, 'AGO', 'Angola'),
 (3, 'ALB', 'Albania'),
 (4, 'ARG', 'Argentina'),
 (5, 'ARM', 'Armenia')]

In [33]:
# Test that the insert works by fetching the first 5 rows from indicator_master table. 
conn.execute("select * from indicator_master limit 5").fetchall()

[(1, 'DT.GPA.DPPG', 'Average grace period on new external debt commitments (years)'),
 (2, 'DT.GPA.OFFT', 'Average grace period on new external debt commitments official (years)'),
 (3, 'DT.GPA.PRVT', 'Average grace period on new external debt commitments private (years)'),
 (4, 'DT.GRE.DPPG', 'Average grant element on new external debt commitments (%)'),
 (5, 'DT.GRE.OFFT', 'Average grant element on new external debt commitments official (%)')]

In [34]:
# Test that the insert works by fetching the first 5 rows from ind_data table. 
conn.execute("select * from ids_data limit 5").fetchall()

[(1, 'AFG', 'DT.GPA.DPPG', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.25, 8.0833, 9.9575, 0.0, 7.8333, 0.0, 0.0, 0.0, 29.8333, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (2, 'AFG', 'DT.GPA.OFFT', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.25, 8.0833, 9.9575, 0.0, 7.8333, 0.0, 0.0, 0.0, 29.8333, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (3, 'AFG', 'DT.GPA.PRVT', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (4, 'AFG', 'DT.GRE.DPPG', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 76.1157, 69.8357, 80.5234, 0.0, 53.1957, 0.0, 0.0, 0.0, 96.378, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (5, 'AFG', 'DT.GRE.OFFT', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 76.1157, 69.8357, 80.5234, 0.0, 53.1957, 0.0, 0.0, 0.0, 96.378, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [35]:
# Test that the insert works by fetching the first 5 rows from ind_data table. 
conn.execute("select * from poverty_data limit 5").fetchall()

[(1, 'EAP', 'SI.POV.UMIC.NO', -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 1340.7, -1.0, -1.0, 1403.3, -1.0, -1.0, 1465.6, -1.0, -1.0, 1525.4, -1.0, -1.0, 1557.7, -1.0, -1.0, 1550.2, -1.0, -1.0, 1562.2, -1.0, -1.0, 1476.0, -1.0, -1.0, 1357.5, -1.0, -1.0, 1230.2, -1.0, 1101.8, 1036.0, 969.7, 853.0, -1.0, -1.0, -1.0, -1.0),
 (2, 'ECA', 'SI.POV.UMIC.NO', -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 105.9, -1.0, -1.0, 117.3, -1.0, -1.0, 168.5, -1.0, -1.0, 194.1, -1.0, -1.0, 209.7, -1.0, -1.0, 161.8, -1.0, -1.0, 124.5, -1.0, -1.0, 81.0, -1.0, 78.1, 73.7, 72.0, 67.8, -1.0, -1.0, -1.0, -1.0),
 (3, 'LAC', 'SI.POV.UMIC.NO', -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 166.5, -1.0, -1.0, 195.4, -1.0, -1.0, 188.8, -1.0, -1.0, 213.6, -1.0, -1.0, 221.9, -1.0, -1.0, 234.5, -1.0, -1.0, 239.3, -1.0, -1.0, 239.6, -1.0, -1.0, 225.7, -1.0, -1.0, 191.3, -1.0, 182.0, 175.7, 167.2, 165.8, -1.0, -1.0, -1.0, -1.0),
 (4, 'LMY', 'SI.POV.UMIC.NO', -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 2967.6, -1.0, -1.0, 3143.1, -1.0, -1.0, 3307.9, -1.0, -1.0, 3512.5, -1.0, -1.0, 3729.5, -1.0, -1.0, 3855.1, -1.0, -1.0, 4009.7, -1.0, -1.0, 3990.5, -1.0, -1.0, 3911.4, -1.0, -1.0, 3799.8, -1.0, 3712.2, 3639.3, 3573.8, 3457.9, -1.0, -1.0, -1.0, -1.0),
 (5, 'LIC', 'SI.POV.UMIC.NO', -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 237.7, -1.0, -1.0, 257.2, -1.0, -1.0, 277.7, -1.0, -1.0, 304.8, -1.0, -1.0, 335.3, -1.0, -1.0, 361.8, -1.0, -1.0, 392.2, -1.0, -1.0, 425.3, -1.0, -1.0, 460.1, -1.0, -1.0, 495.3, -1.0, 518.6, 530.0, 535.3, 546.1, -1.0, -1.0, -1.0, -1.0)]

In [36]:
# Test that the insert works by fetching the first 5 rows from icountry_master1table. 
conn.execute("select * from country_master1 limit 5").fetchall()

[(1, 'AFG', 'Islamic-State-of-Afghanistan', 'Afghan-afghani', 'Low-income', 'South-Asia'),
 (2, 'AGO', 'Peoples-Republic-of-Angola', 'Angolan-kwanza', 'Lower-middle-income', 'Sub-Saharan-Africa'),
 (3, 'ALB', 'Republic-of-Albania', 'Albanian-lek', 'Upper-middle-income', 'Europe-&-Central-Asia'),
 (4, 'ARG', 'Argentine-Republic', 'Argentine-peso', 'Upper-middle-income', 'Latin-America-&-Caribbean'),
 (5, 'ARM', 'Republic-of-Armenia', 'Armenian-dram', 'Lower-middle-income', 'Europe-&-Central-Asia')]