In [1]:
#Import Pandas#Import P 
import pandas as pd
import numpy as py
#Clean up existing files and database if code is being executed multiple times
!del ids.sqlite 
!del ids_clean.csv

C:\Users\anuj\Project2\ids.sqlite

The process cannot access the file because it is being used by another process.

In [2]:
#### Step 2 DATABASE ENGINEERING ####
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
engine = create_engine("sqlite:///ids.sqlite")

In [4]:
conn = engine.connect()

In [5]:
#Create a class for the country master table
class CountryMaster(Base):
    __tablename__ = 'country_master'
    country_id = Column(Integer, primary_key = True)
    country_code= Column(String)
    country_name = Column(String)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [6]:
#Create a class for the indicator master table
class IndicatorMaster(Base):
    __tablename__ = 'indicator_master'
    indicator_id = Column(Integer, primary_key = True)
    indicator_code= Column(String)
    indicator_name = Column(String)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [7]:
#Create a class for the indicator master table
class IDSData(Base):
    __tablename__ = 'ids_data'
    ids_data_id = Column(Integer, primary_key = True)
    Country_Code = Column(String)
    Indicator_Code = Column(String)
    yr_1970 = Column(Float(12,2))
    yr_1971 = Column(Float(12,2))
    yr_1972= Column(Float(12,2))
    yr_1973= Column(Float(12,2))
    yr_1974= Column(Float(12,2))
    yr_1975= Column(Float(12,2))
    yr_1976= Column(Float(12,2))
    yr_1977= Column(Float(12,2))
    yr_1978= Column(Float(12,2))
    yr_1979= Column(Float(12,2))
    yr_1980= Column(Float(12,2))
    yr_1981= Column(Float(12,2))
    yr_1982= Column(Float(12,2))
    yr_1983= Column(Float(12,2))
    yr_1984= Column(Float(12,2))
    yr_1985= Column(Float(12,2))
    yr_1986= Column(Float(12,2))
    yr_1987= Column(Float(12,2))
    yr_1988= Column(Float(12,2))
    yr_1989= Column(Float(12,2))
    yr_1990= Column(Float(12,2))
    yr_1991= Column(Float(12,2))
    yr_1992= Column(Float(12,2))
    yr_1993= Column(Float(12,2))
    yr_1994= Column(Float(12,2))
    yr_1995= Column(Float(12,2))
    yr_1996= Column(Float(12,2))
    yr_1997= Column(Float(12,2))
    yr_1998= Column(Float(12,2))
    yr_1999= Column(Float(12,2))
    yr_2000= Column(Float(12,2))
    yr_2001= Column(Float(12,2))
    yr_2002= Column(Float(12,2))
    yr_2003= Column(Float(12,2))
    yr_2004= Column(Float(12,2))
    yr_2005= Column(Float(12,2))
    yr_2006= Column(Float(12,2))
    yr_2007= Column(Float(12,2))
    yr_2008= Column(Float(12,2))
    yr_2009= Column(Float(12,2))
    yr_2010= Column(Float(12,2))
    yr_2011= Column(Float(12,2))
    yr_2012= Column(Float(12,2))
    yr_2013= Column(Float(12,2))
    yr_2014= Column(Float(12,2))
    yr_2015= Column(Float(12,2))
    yr_2016= Column(Float(12,2))
    yr_2017= Column(Float(12,2))
    yr_2018= Column(Float(12,2))
    yr_2019= Column(Float(12,2))
    yr_2020= Column(Float(12,2))
    yr_2021 = Column(Float(12,2))
    yr_2022= Column(Float(12,2))
    yr_2023= Column(Float(12,2))
    yr_2024= Column(Float(12,2))
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [8]:
Base.metadata.create_all(engine)

In [9]:
#IDS country data file
country_file = "country.csv"
country_df = pd.read_csv(country_file)
country_df.head(5)
country_data = country_df.to_dict(orient='records')
print(country_data[:5])

[{'country_code': 'AFG', 'country_name': 'Afghanistan'}, {'country_code': 'AGO', 'country_name': 'Angola'}, {'country_code': 'ALB', 'country_name': 'Albania'}, {'country_code': 'ARG', 'country_name': 'Argentina'}, {'country_code': 'ARM', 'country_name': 'Armenia'}]

In [10]:
#IDS Indicators data file
indicator_file = "indicator.csv"
indicator_df = pd.read_csv(indicator_file)
indicator_df.head(5)
indicator_data = indicator_df.to_dict(orient='records')
print(indicator_data[:5])

[{'indicator_code': 'DT.GPA.DPPG', 'indicator_name': 'Average grace period on new external debt commitments (years)'}, {'indicator_code': 'DT.GPA.OFFT', 'indicator_name': 'Average grace period on new external debt commitments official (years)'}, {'indicator_code': 'DT.GPA.PRVT', 'indicator_name': 'Average grace period on new external debt commitments private (years)'}, {'indicator_code': 'DT.GRE.DPPG', 'indicator_name': 'Average grant element on new external debt commitments (%)'}, {'indicator_code': 'DT.GRE.OFFT', 'indicator_name': 'Average grant element on new external debt commitments official (%)'}]

In [11]:
#IDS main data file
file = "IDSData.csv"
ids_data_df = pd.read_csv(file)
ids_data_df.fillna(value=0, inplace=True)
ids_data_df.head(2) 
ids_data_df.drop([ids_data_df.columns[0]], axis=1, inplace=True)
ids_data_df.drop([ids_data_df.columns[1]], axis=1, inplace=True)
ids_data_df.drop([ids_data_df.columns[57]], axis=1, inplace=True)
#ids_data_df.drop([ids_data_df.columns['Indicator Name']], axis=1, inplace=True)

ids_data_df.to_csv('ids_clean.csv', index = False)
ids_data_df.head()

clean_file = "ids_clean.csv"
ids_clean_data_df = pd.read_csv(clean_file)

ids_clean_data_df.head(5)
clean_data = ids_clean_data_df.to_dict(orient='records')
print(clean_data[:5])

[{'Country_Code': 'AFG', 'Indicator_Code': 'DT.GPA.DPPG', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 10.25, 'yr_2007': 8.0833, 'yr_2008': 9.9575, 'yr_2009': 0.0, 'yr_2010': 7.8333, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 29.8333, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}, {'Country_Code': 'AFG', 'Indicator_Code': 'DT.GPA.OFFT', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 10.25, 'yr_2007': 8.0833, 'yr_2008': 9.9575, 'yr_2009': 0.0, 'yr_2010': 7.8333, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 29.8333, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}, {'Country_Code': 'AFG', 'Indicator_Code': 'DT.GPA.PRVT', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 0.0, 'yr_2007': 0.0, 'yr_2008': 0.0, 'yr_2009': 0.0, 'yr_2010': 0.0, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 0.0, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}, {'Country_Code': 'AFG', 'Indicator_Code': 'DT.GRE.DPPG', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 76.1157, 'yr_2007': 69.8357, 'yr_2008': 80.5234, 'yr_2009': 0.0, 'yr_2010': 53.1957, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 96.378, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}, {'Country_Code': 'AFG', 'Indicator_Code': 'DT.GRE.OFFT', 'yr_1970': 0.0, 'yr_1971': 0.0, 'yr_1972': 0.0, 'yr_1973': 0.0, 'yr_1974': 0.0, 'yr_1975': 0.0, 'yr_1976': 0.0, 'yr_1977': 0.0, 'yr_1978': 0.0, 'yr_1979': 0.0, 'yr_1980': 0.0, 'yr_1981': 0.0, 'yr_1982': 0.0, 'yr_1983': 0.0, 'yr_1984': 0.0, 'yr_1985': 0.0, 'yr_1986': 0.0, 'yr_1987': 0.0, 'yr_1988': 0.0, 'yr_1989': 0.0, 'yr_1990': 0.0, 'yr_1991': 0.0, 'yr_1992': 0.0, 'yr_1993': 0.0, 'yr_1994': 0.0, 'yr_1995': 0.0, 'yr_1996': 0.0, 'yr_1997': 0.0, 'yr_1998': 0.0, 'yr_1999': 0.0, 'yr_2000': 0.0, 'yr_2001': 0.0, 'yr_2002': 0.0, 'yr_2003': 0.0, 'yr_2004': 0.0, 'yr_2005': 0.0, 'yr_2006': 76.1157, 'yr_2007': 69.8357, 'yr_2008': 80.5234, 'yr_2009': 0.0, 'yr_2010': 53.1957, 'yr_2011': 0.0, 'yr_2012': 0.0, 'yr_2013': 0.0, 'yr_2014': 96.378, 'yr_2015': 0.0, 'yr_2016': 0.0, 'yr_2017': 0.0, 'yr_2018': 0.0, 'yr_2019': 0.0, 'yr_2020': 0.0, 'yr_2021': 0.0, 'yr_2022': 0.0, 'yr_2023': 0.0, 'yr_2024': 0.0}]

In [12]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [13]:
# Save the reference to the `country master` table as a variable called `cm`
cm = sqlalchemy.Table('country_master', metadata, autoload=True)

In [14]:
# Save the reference to the `indicator master` table as a variable called `im`
im = sqlalchemy.Table('indicator_master', metadata, autoload=True)

In [15]:
# Save the reference to the `cleaned data` table as a variable called `cd`
cd = sqlalchemy.Table('ids_data', metadata, autoload=True)

In [16]:
# Use `cm.delete()` to remove any pre-existing data, from country table
conn.execute(cm.delete())

In [17]:
# Use `im.delete()` to remove any pre-existing data, from indicator table
conn.execute(im.delete())

In [18]:
# Use `cd.delete()` to remove any pre-existing data, from IDS data table
conn.execute(cd.delete())

In [19]:
# Use `cm.insert()` to insert the data into the country table
# The SQL table is populated during this step
conn.execute(cm.insert(), country_data)

In [20]:
# Use `cm.insert()` to insert the data into the country table
# The SQL table is populated during this step
conn.execute(im.insert(), indicator_data)

In [21]:
# Use `cd.insert()` to insert the data into the ids_data table
# The SQL table is populated during this step
conn.execute(cd.insert(), clean_data)

In [22]:
# Test that the insert works by fetching the first 5 rows from country_master table. 
conn.execute("select * from country_master limit 5").fetchall()

[(1, 'AFG', 'Afghanistan'),
 (2, 'AGO', 'Angola'),
 (3, 'ALB', 'Albania'),
 (4, 'ARG', 'Argentina'),
 (5, 'ARM', 'Armenia')]

In [23]:
# Test that the insert works by fetching the first 5 rows from indicator_master table. 
conn.execute("select * from indicator_master limit 5").fetchall()

[(1, 'DT.GPA.DPPG', 'Average grace period on new external debt commitments (years)'),
 (2, 'DT.GPA.OFFT', 'Average grace period on new external debt commitments official (years)'),
 (3, 'DT.GPA.PRVT', 'Average grace period on new external debt commitments private (years)'),
 (4, 'DT.GRE.DPPG', 'Average grant element on new external debt commitments (%)'),
 (5, 'DT.GRE.OFFT', 'Average grant element on new external debt commitments official (%)')]

In [24]:
# Test that the insert works by fetching the first 5 rows from ind_data table. 
conn.execute("select * from ids_data limit 5").fetchall()

[(1, 'AFG', 'DT.GPA.DPPG', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.25, 8.0833, 9.9575, 0.0, 7.8333, 0.0, 0.0, 0.0, 29.8333, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (2, 'AFG', 'DT.GPA.OFFT', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.25, 8.0833, 9.9575, 0.0, 7.8333, 0.0, 0.0, 0.0, 29.8333, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (3, 'AFG', 'DT.GPA.PRVT', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (4, 'AFG', 'DT.GRE.DPPG', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 76.1157, 69.8357, 80.5234, 0.0, 53.1957, 0.0, 0.0, 0.0, 96.378, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (5, 'AFG', 'DT.GRE.OFFT', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 76.1157, 69.8357, 80.5234, 0.0, 53.1957, 0.0, 0.0, 0.0, 96.378, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]